*{
  font-family: 'Raleway', sans-serif;
}

nav{
  /* background-color: blue; */
  width: 20%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

ul{
  position:fixed;
}

a{
  text-decoration: none;
  text-emphasis: none;
  color: black;
}

.general{
  display: flex;
}

.header-main{
  display: flex;
  justify-content: center;
}

.container-perso{
  width: 60%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.container-persocv{
  width: 60%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.presentation{
  display: flex;
  justify-content: center;
}